.heading {
  @apply font-bold leading-tight tracking-tight font-header text-slate-500;
}

.heading--xl {
  @apply text-5xl md:text-7xl;
}

.heading--lg {
  @apply text-4xl md:text-5xl;
}

.heading--md {
  @apply text-3xl md:text-4xl;
}

.heading--sm {
  @apply text-2xl md:text-3xl;
}

.button {
  @apply block w-fit bg-cyan-700 hover:bg-cyan-500 transition-colors duration-200 ease-in-out py-3 px-[39px] font-header rounded-full text-white font-bold tracking-wider;
}

.custom-clip-path {
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
}

.custom-box-shadow {
  box-shadow: 0 0 0 100vmax white;
}

article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-tight tracking-tight font-header text-slate-500;
  }
  h1 {
    @apply text-2xl md:text-7xl;
  }
  h2 {
    @apply text-xl md:text-5xl;
  }

  h3 {
    @apply text-lg md:text-4xl;
  }

  h4 {
    @apply md:text-3xl;
  }
  a {
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    color: navy;
  }
  a:visited {
    color: navy;
  }
  ul {
    list-style: revert;
    margin: revert;
    @apply pl-4 md:pl-8;
  }
  ol {
    list-style: revert;
    margin: revert;
    @apply pl-4 md:pl-8;
  }
}
[v-cloak] {
  display: none;
}
